body{
    background-image: url("backgroundImages/ghanaBackGround.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-color: green;
}
#title{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 10px solid #e0e6f3b2;
    border-radius: 20px;
    color: whitesmoke;
    box-shadow: greenyellow;
}
h2{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(109, 60, 28);
    color: rgb(75, 253, 4);
    font-weight: bold;

}
h3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(109, 60, 28);
    color: rgb(75, 253, 4);
    font-weight: bold;
}
p{
    font-weight: bolder;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    border: 5px dashed green;
}
img{
    float: left;
    padding: 5px;
    display: table;
    border: 5px solid rgb(75, 253, 4);
    border-radius: 10px;
    
}
img:hover{
    box-shadow: 0 0 10px 10px rgba(180, 239, 155, 0.5);
}
